<h1>Departments#show</h1>

<h1><%= @department.name %></h1>
<hr />



<p>What would you like to do?</p>
<br />
<%= link_to 'Edit Department', edit_department_path(@department) %>
<br />
<%= link_to 'Delete Department', @department, method: :delete %>



<%= link_to 'Back', pages_path %>